body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-box{
  display: flex;
  justify-content: center;
}
.image-box img{
  width: 15%;
}
h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}
.day{
  font-size: 50px;
  margin-bottom: 50px;
}
.date{
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 50px;
}

h3{
  font-size: 25px;
  margin: 0 5px;
  margin-bottom: 30px;
}

span{
  font-size: 18px;
  margin: 3px 2px;
}

.js-date-info-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.js-date-info-box div{
  display: flex;
}



.js-calendar-area{
  display:flex;
  justify-content: center;
  align-items: center;

}
.js-calendar-box{
  display:flex;
  margin: 0 30px;
}
.day-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}
.clicked{
  color:red;
}