body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-box{
  display: flex;
  justify-content: center;
}
.image-box img{
  width: 15%;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}
